@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/fonts.scss';

$iconTextMargin: 5px;
$innerMargin: 15px;

@mixin headerFooterStyles() {
  @include flexBox(row, flex-start);
  width: 100%;
}

.orderCard {
  @include dashboardColors();
  @include boxShadow();
  @include flexBox(column);
  width: calc(100% - 10px);
  padding: 5px;
  margin: 10px 0;

  &:hover {
    @include boxShadow(4px, 10px);
    transition: .3s;
  }
}

.mainIcon, .arrowIcon {
  border-radius: 100%;
}

.mainIcon {
  background-color: $primary2;
}

.arrowIcon {
  @include boxShadow(1px, 1px);
  background-color: $primary2;
  margin-top: 6px;
  padding: 6px;
  width: 15px;
  height: 15px;
  align-self: flex-start;
  cursor: pointer;

  &:hover {
    @include boxShadow(3px, 3px);
  }
}
