@import '../../../../../../../assets/scss/mixins.scss';
@import '../../../EditModal.module.scss';

.container {
  @extend .subSection;
  width: 100%;

  .inputsContainer {
    @include flexBox(column, flex-start, flex-start);
    width: 100%;
    gap: 15px;

    .addContainer {
      @include flexBox();
    }
  }

}