@import '../../assets/scss/colors.scss';
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/globals.scss';


.loginPage {
  @extend .fullPage;
  @include flexBox(column);
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../assets/images/bgs/bg5.png');
  background-size: repeat;
  background-position: 0px;

  .container {
    @include flexBox(column, space-around);
    color: white;
    width: 50%;
    min-width: 350px;
    height: 60%;
    border-radius: 10px;
    position: relative;
    

    > img {
      width: 200px;
      position: absolute;
      top: -50px;
    }


    .buttonContainer {
      @include flexBox(row);
      width: 100%;

 
    }
  }
}
