$primary: #05F258;
$primary2: #03A62C;
$primary3: #022601;

$primaryLighter: #00fd6c;
$primaryTransarent: rgba(5, 242, 88, 0.5);

$secondary: #46B477;


$dark: #0E1E2F;
$dark2: #0D0D0D;
$overlay:rgba(0, 0, 0, 0.3);

$gray: rgb(155, 155, 155);

$light: #F2F2F2;


$placed: red;
$toDo: orange;
$inProduction: yellow; 
$readyToDeliver: green;
$dispatched: blue;



