@import './colors.scss';

$header-height: 8vh;
$sideBar-width: 220px;
$headerColor: $primary3;


.fullPage {
  width: 100vw;
  height: 100vh;
}

.mainPage {
  padding: 25px;
}

.whiteInput {
  color: white;
  border-bottom: 1px white solid;

  &::placeholder {
    color: $whiteTransparent;
  }

  &:focus {
    border-bottom: 2px white solid;

  }
  
  &:hover {
    border-bottom: 2px white solid;
  }
}