@import './fonts.scss';
@import './colors.scss';


* {
  font-family: monospace;
  font-size: $font-med;
}



input {
  background-color: transparent;
  border: none;
  color: $primary;
  border-bottom: 1px $primary solid;
  text-align: center;

  &::placeholder {
    color: $primaryTransarent
  }

  &:focus {
    outline: none;
    border-bottom: 2px $primary solid;

  }
  
  &:hover {
    transition: 1s;
    border-bottom: 2px $secondary solid;
  }
}

button:not([class*=Toastify]) {
  padding: 10px;
  background-color: $dark2;
  color: $primary;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  
  
  &:hover {
    transition: 1s;
    background-color: $primary;
    text-shadow: 1px 1px 3px $dark2;
    color: $dark2;
  }

  &:disabled {
    background-color: $gray;
    opacity: 0.5;
    color:white;
    text-shadow: none;
    cursor: not-allowed;
  }
}

