@import '../../assets/scss/colors.scss';
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/fonts.scss';

$iconTextMargin: 5px;
$innerMargin: 15px;

.orderCard {
  @include dashboardColors();
  @include boxShadow();
  @include flexBox(column);
  width: calc(100% - 10px);
  padding: 5px;
  margin: 10px 0;

  .cardHeader, footer {
    @include flexBox(row, flex-start);
    width: 100%;
  }

  .cardHeader {
    position: relative;
    margin-bottom: $innerMargin;
    
    *:not(svg) {
      font-size: $font-small;
    }
    
    > h2 {
      margin-left: $iconTextMargin;
    }

    .right {
      @include flexBox();
      margin-left: auto;

      .hourContainer {
        @include flexBox();
        margin-right: 20px;
      }

      .clock {
        background-color: transparent;
      }

    }
    
  }

  .cardBody {
    @include flexBox(column, center, flex-start);
    width: calc(100% - 30px);
    padding: 0 15px;
    margin: 15px 0;

    * {
      font-size: $font-small;
    }

    > div {
      @include flexBox(row, flex-start, center);
      width: calc(100% - 20px);
      background-color: rgba(155, 155, 155, 0.2);
      border-radius: 15px;
      padding: 10px;


    }

    .addressContainer {
      p {
        margin: 0;
        padding: 0;
      }
    }
    
    &.closed {
      display: none;
    }
  }

  footer {
    margin-top: $innerMargin;

    .iconContainer {
      @include flexBox();
      margin-left: auto;

      .firstIcon {
        margin-right: 10px;
      }
    }

    .mainIcon {
      width: 20px;
      height: 20px;
      background-color: $gold;
    }

    > span {
      margin-left: $iconTextMargin
    }
  }

  &:hover {
    @include boxShadow(4px, 10px);
    transition: .3s;
  }
}

.mainIcon, .arrowIcon {
  border-radius: 100%;
}

.mainIcon {
  background-color: $primary2;
}

.arrowIcon {
  @include boxShadow(1px, 1px);
  background-color: $primary2;
  margin-top: 6px;
  padding: 6px;
  width: 15px;
  height: 15px;
  align-self: flex-start;
  cursor: pointer;

  &:hover {
    @include boxShadow(3px, 3px);
  }
}
