@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/colors.scss';


.avatarContainer {
  @include flexBox();
  background-color: $primary2;
  border-radius: 100%;
  border: $dark 5px outset;

  &.branches {
    width: fit-content;
  }

  &.menus, &.products {
    width: 150px;
    height: 150px;

    .avatar {
      width: 110px;
    }
  }

  .avatar {
    width: 200px;
  }
}