@import '../../assets/scss/colors.scss';
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/fonts.scss';

$padding: 25px;

.entity {
  @include flexBox(column, flex-start, center);
  @include boxShadow(3px, 5px);
  border-radius: 5px;
  border: $primary2 solid 1px;
  width: 33%;
  min-height: calc(500px - #{$padding * 2});
  padding: $padding;
  
  
  > hr {
    border: none;
    margin: 0;
    padding: 0;
    width: 40%;
    border-bottom: $grayBorder solid 1px;

  }

  .entityHeader {
    @include flexBox(column);
    margin-bottom: 15px;


    .avatarContainer {
      @include flexBox();
      background-color: $primary2;
      border-radius: 100%;
      border: $dark 5px outset;
      width: fit-content;

      .avatar {
        width: 200px;
      }
    }

    h2 {
      margin-top: 10px;
    }
  }
  

  &:hover {
    @include boxShadow(4px, 9px)
  }
}