@import '../../../../../../../../assets/scss/mixins.scss';
@import '../../../EditModal.module.scss';

.container {
  @extend .subSection;
  @include smallField();

  .selectInput {
    align-self: flex-start;
    min-width: 200px;
    text-align: center;
  }
}