@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/fonts.scss';
@import '../../OrderCard.module.scss';

.cardFooter { 
  @include headerFooterStyles();
  margin-top: $innerMargin;

  .iconContainer {
    @include flexBox();
    margin-left: auto;

    .firstIcon {
      margin-right: 10px;
    }
  }

  .mainIcon {
    width: 20px;
    height: 20px;
    background-color: $primary4;
  }

  > span {
    margin-left: $iconTextMargin
  }
}