@import '../../assets/scss/colors.scss';
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/fonts.scss';

.container {
  @include flexBox(row, space-around, flex-start);
  margin: 25px 0;
  gap: 30px;
  width: 100%;
}