@import '../../assets/scss/colors.scss';
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/globals.module.scss';


.container {
  @include flexBox(row, space-around, flex-start);
  margin: 25px 0;
  gap: 30px;
  width: 100%;

  .addIcon {
    position: fixed;
    padding: 8px 10px;
    bottom: 25px;
    right: 25px;
  }
}