@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/fonts.scss';
@import '../../EntityCard.module.scss';


.sideOptions {
  @include flexBox(column);
  gap: 10px;
  position: absolute;
  left: $padding;

  .deactivateIcon {
    padding: 9px 12px;

    &:hover {
      background-color: $gray;
    }
  }

  .activateIcon {
    &:hover {
      background-color: $primary4;
    }
  }
}

