@import '../../assets/scss/colors.scss';
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/fonts.scss';

$sidePadding: 5px;
$sideMargin: 5px;

.column {
  @include flexBox(column);
  width: calc(100% / 3 - #{$sidePadding * 2} - #{$sideMargin * 2});
  text-align: center;
  padding: 0 $sidePadding;
  margin: 0 $sideMargin;
  
  .columnHeader {
    @include dashboardColors();
    position: relative;
    width: 100%;

    .ordersCount {
      color: white;
      position: absolute;
      font-size: $font-small;
      top: 5px;
      left: 5px;
    }
  }
}